{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TableTap - Login</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  {% load static %}
  <div class="i-login-container">
    <h1>TableTap</h1>
    {% if error %}
      <p class="error-msg">{{ error }}</p>
    {% endif %}
    <form method="post">
      {% csrf_token %}    
      <input type="text" name="username" placeholder="Username" required value="{{ request.POST.username }}">
      <input type="password" name="password" placeholder="Password" required>
      <button type="submit">Login</button>
    </form>
    <div class="i-signup-link">
      <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
    </div>
  </div>
</body>
</html>
